[general]
jembe.version = 1.1.3
app.name=embededbdd
app.title=embededbdd
app.version=1.0.0
app.init.version=1.0.0
app.icon=
app.size=650x500
app.splash.text.rect = 20 245 500 20
app.splash.version.rect = 230 135 200 20
app.url=
app.company=
app.update.url=
app.modules=main
main.version=1.0.0
main.filePath=sources
jembe.plugins = lighttpd
[ios]
app.airplay=false
app.fullscreen=false	
app.orientation=
app.icon=	
app.icon.effect=true
app.id=fr.jembe.embededbdd
app.itune.icon=
app.splash.portrait=
app.splash.landscape=

[android]
app.fullscreen=false	
app.orientation= 
app.icon=	
app.splash=


	


[lighttpd]
version = 1.0.2
module = main

[installer_texts]
title_install = Installation de embededbdd
install_startup = Ceci installera embededbdd sur votre ordinateur. Continuer ?
install_destination = L’installation du embededbdd s’effectuera dans le répertoire ci-dessous.\n\nPour une installation dans ce répertoire, cliquez sur le bouton Suivant.\n\nPour une installation dans un autre répertoire, cliquer sur le bouton Parcourir et sélectionnez un autre répertoire sur votre ordinateur.
install_destination_subtitle = Où installer embededbdd ?
install_separator =
install_complete_subtitle = L’installation de embededbdd est terminée
install_complete = Cliquez sur Terminer pour quitter l’assistant.
uninstall_title = Désinstallation du embededbdd
uninstall_complete = embededbdd est désinstallé de votre ordinateur.
uninstall_start = Ceci supprimera embededbdd et tous ses contenus de votre ordinateur. Etes-vous certain de vouloir continuer ?
install_welcome_subtitle = Bienvenue dans l’assistant d’installation de embededbdd.
install_welcome = Ceci installera embededbdd version $${version} sur votre ordinateur.\n\nCliquez  sur  Suivant  pour  continuer  ou  sur  Annuler  pour  quitter  l’installation.
install_copy_label = <%FileBeingInstalledText%>
install_copy_message = Patientez pendant l’installation de embededbdd sur votre ordinateur.